.top-headline{
    font-family: 'Indie Flower',
    cursive;
    font-size: 50px;
    color: rgb(205, 43, 226);
    font-weight: bold;
    margin-top: -25%;
    margin-left: 35%;
}
.blue{
    color: aqua;
}
.header{
    padding: 10px;
}

.header-img {
    margin: 0px;
}
.header-nav{
    display: flex;
    justify-content: flex-end;
}
.header-li{
    margin-right: 20px;
    margin-top: -20px;
    color: gray;
    font-weight:lighter
}
.top-text-headline{
    color: rgb(205, 43, 226);
    font-weight: bold;
    margin-left: 35%;
    margin-top: 15px;
    font-size: 20px;
}
.top-text-content{
    color: gray;
    margin-left: 35%;
    margin-top: 10px;
    font-size: 20px;
}
.top-img{
    width: 50%;
    padding-left:50%;
}
.topix {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.topix-ttl{
    font-family: 'Indie Flower',cursive;
    color: rgb(205, 43, 226);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-right: 37%;
}
.topix-ttl-imformation{
    font-weight: bold;
    color: gray;
    font-size: large;
    display: flex;
    justify-content: center;
    padding-right: 35%;
    padding-top: 10px;
}
.topix-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none outside;
    margin-top: 20px;
}
.topix-item{

    border-bottom: 1px solid #CCC;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 650px;
}
.topix-item:first-of-type{
    border-top: 2px solid #ccc;
}
.topix-list-date{
    padding-right: 25px;
    color: gray;
}
.topix-list-lavel{
    color: #CCC;
    background-color: rgb(205, 43, 226);
        text-align: center;
        display: inline-block;
        padding: 5px 20px;
        line-height: 1;
        border-radius:30px;
}
.topix-list-detail{
    color: gray;
    padding-left: 20px;
}
.topix-under{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border-bottom: 2px solid #CCC;
    width: 670px;
}
.mid{
    padding: 50px 0;
    margin-top: 10%;
    background-color: rgb(194, 194, 194);
}
.mid-ttl-about{
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    color: rgb(205, 43, 226);
    font-weight: bold;
}
.mid-ttl-headline{
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
}
.frex{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.mid-img{
    width: 300px;
}
.explanation{
    width: 400px;
    height: 200px;
    box-sizing:content-box;
    color: gray;
    font-weight:lighter;
    padding-right: 50px;
    font-size: 15px;
}
.grid-block{
    margin-left: 10%;
    width: 80%;
    display: grid;
        grid-template-rows: 200px 200px ;
        grid-template-columns: 2fr 2fr;
}
.box-img1{
    width: 150px;
    padding-top: 10%;
    padding-left: 40%;
}
.box-img2 {
    padding-top: 20px;
    width: 150px;
    float: left;
}
.box-img3 {
    padding-top: 20px;
    width: 150px;
    float: left;
}
.box1{
    background: #990781;
    grid-row: 1/3;
    grid-column: 1/2;
}
.box1-ttl {
    display: flex;
    justify-content: center;
    color: #FFF;
    margin-top: 10px;
}

.box1-content {
    margin-top: 20px;
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.box2{
    background: #b357a3;
    grid-row: 1/2;
    grid-column: 2/3;
}
.box2-ttl {
    padding-top: 10%;
    color: #FFF;

}
.box2-content{
    padding-top: 20px;
    color: #FFF;
}
.box3{
    background: #df94d2;
    grid-row: 2/3;
    grid-column: 2/3;
}
.box3-ttl{
padding-top: 10%;
color: #FFF;
}
.box3-content{
    padding-top: 20px;
    color: #FFF;
}
.service-ttl{
    margin-top: 100px;
    margin-left: 10%;
        font-family: 'Indie Flower', cursive;
        color: rgb(205, 43, 226);
        font-weight: bold;
}
.service-content{
    margin-bottom: 20px;
    margin-left: 10%;
    color: gray;
        font-weight: bold;
        font-size: 20px;
}
.blog-ttl{
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
        font-family: 'Indie Flower', cursive;
        color: rgb(205, 43, 226);
        font-weight: bold;
}
.blog-ttl-ttl{
        padding-left: 50px;
        padding-bottom: 50px;
        color: gray;
        font-weight: bold;
        font-size: 30px;
}
.blog {
    background: rgb(241, 241, 241);
}
.blog-flex{
    display: flex;
    justify-content:space-between;
}
.card{
    width: 30%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.card-img{
    width: 100%;
    position: relative;
    z-index: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-img-logo{
    padding: 10px;
    width: 50px;
    position: absolute;
    background: #990781;
    border-top-left-radius: 20px;
    font-size: 15px;
    color: #FFF;
    z-index: 10;
}
.card-ttl{
    display: flex;
    justify-content: center;
    line-height: 20px;
    padding: 30px;
}
.frex-item{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px 20px 10px;
}
.btn{
    border: solid 2px rgb(205, 43, 226);
    border-radius: 50px;
    margin: 32px auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    color: rgb(205, 43, 226);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.Company-logo{
    font-family: 'Indie Flower', cursive;
        color: rgb(205, 43, 226);
        font-weight: bold;
        padding-left: 50px;
        padding-top: 50px;
}
.Company-ttl{
    padding-left: 50px;
        padding-bottom: 50px;
        padding-top: 10px;
        color: gray;
        font-weight: bold;
        font-size: 30px;
}
th,td{
    border: solid 1px;
    font-size: 20px;
}
th{
    padding: 15px 200px 15px 10px;
    font-weight: bold;
    color: gray;
}
td{
    padding: 15px 400px 15px 10px;
    color: #999797;
}
.Company-table{
    display: flex;
    justify-content: center;
}
.img{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.img-img1{
    position: relative;
}
.img-img2{
    position: relative;
}
.img-img-ttl1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 50px;
}
.img-img-ttl2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 50px;
    white-space: nowrapmas
}
.img-photo1{
    width: 50vw;
}
.img-photo2{
    width: 50vw;
}
.Contact{
    padding-top: 30px;
}
.Contact-ttl{
        display: flex;
            justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
.content-ttl-line{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #990781;
    font-weight: lighter;
}


small{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
footer {
    background: #d4d1d1;
}
.content-btn {
    position: relative;
    background:linear-gradient(90deg,#fc1e8d, #b71568);
    width: 200px;
    display: block;
    padding: 18px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    margin: 100px auto;
    box-shadow: 0 10px 3px #840050;
}

.content-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}